@media screen and (max-width:1200px) {
    .hide1200px {
        display: none;
    }
    .phide {
        display: block;
    }
    .phideimg {
        display: block;
    }
}
@media screen and (max-width:1100px) {
    .under {
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: auto;
        padding: 0 0 0 0;
        row-gap: 70px;
        &_img {
            &_img1 {
                display: none;
                
            }
            &_img2 {
                display: block;
            }
        }
        &_text {
            width: 600px;
            row-gap: 50px;
            &_pall {
                &_p1 {
                    width: 600px;
                    text-align: center;
                }
                &_p2 {
                    width: 600px;
                    text-align: center;
                }
            }
            &_btn {
                margin: 0 auto 0 auto;
            }
        }
    }
    .line {
        width: 600px;
    }
    .items {
        width: 600px;
        height: auto;
        &_block {
            width: 255px;
        }
    }
    .card {
        flex-direction: column;
        height: auto;
        align-items: center;
        row-gap: 57px;
        width: 100%;
        &_text {
            order: 2;
        }
        &_imgs {
            order: 1;
        }
    }
    .footer {
        &_logos {
            width: 90%;
            &_imgs {
                column-gap: 20px;
            }
        }
    }
}
@media screen and (max-width:1000px) {
    .header {
        &_nav {
            width: 50%;
            &_a {
                font-size: 24px;
            }
        }
    }
    .headeradd {
        &_search {
            &_panel {
                width: 232px;
            }
        }
    }
}
@media screen and (max-width:768px) {
    .header {
        &_nav {
            order: 1;
            width: auto;
            justify-content: center;
            &_a {
                display: none;
            }
            &_menu {
                display: block;
                width: 55px;
                height: 55px;
                background-size: cover;
                &:focus + .header_nav_table {
                    transform: translateX(320px);
                    transition-duration: 1s;
                    transition-timing-function: ease;
                }
            }
            &_table {
                transition-duration: 0.5s;
                &_block {
                    transition-duration: 0.2s;
                    &:hover {
                        background-color: #8C7F77;
                        transition-duration: 0.5s;
                    }
                }
            }
        }
        &_logo {
            order: 2;
        }
        &_user {
            order: 3;
            &_img {
                display: none;
            }
        }
    }
    .headeradd {
        justify-content: center;
        &_search {
            &_block {
                margin-right: 10px;
            }
            &_panel {
                width: 175px;
            }
        }
    }
    .phide {
        display: none;
    }
    .phideimg {
        display: none;
    }
    .under {
        &_text {
            width: 450px;
            &_pall {
                &_p1 {
                    width: 450px;
                }
                &_p2 {
                    width: 450px;
                }
            }
        }
        &_img {
            &_img2 {
                width: 450px;
            }
        }
    }
    .line {
        width: 450px;
    }
    .items {
        width: 450px;
        row-gap: 30px;
        &_block {
            margin: 0 auto 0 auto;
            width: 300px;
        }
    }
    .lupa {
        transform: translateX(-60px);
    }
    .footer {
        height: auto;
        &_logos {
            justify-content: center;
            margin-top: 0px;
            &_p1 {
                display: none;
            }
            &_imgs {
                column-gap: 0px;
                &_img {
                    width: 50px;
                    height: 50px;
                }
            }
        }
        &_number {
            &_p1 {
                font-size: 20px;
                text-align: center;
            }
        }
    }
}
@media screen and (max-width:600px) {
    .card {
        &_text {
            width: 350px;
            font-size: 20px;
        }
        &_imgs {
            img {
                width: 350px;
            }
        }
    }
}
@media screen and (max-width:500px) {
    .under {
        &_text {
            width: 280px;
            &_pall {
                &_p1 {
                    width: 280px;
                    font-size: 20px;
                }
                &_p2 {
                    width: 280px;
                    font-size: 16px;
                }
            }
            &_btn {
                width: 280px;
                &_p1 {
                    font-size: 24px;
                    font-weight: 500;
                }
                &_img {
                    width: 20px;
                    height: 18px;
                }
            }
        }
        &_img {
            &_img2 {
                display: none;
            }
            &_img3 {
                display: block;
            }
        }

    }
    .line {
        width: 280px;
    }
    .items {
        width: 280px;
        &_block {
            width: 255px;
        }
    }
    .lupa {
        position: absolute;
        top: 5px;
        right: 0;
        transform: translateX(-10px);
    }
    .card {
        &_text {
            width: 280px;
        }
        &_imgs {
            img {
                width: 280px;
            }
        }
    }
}
