@media screen and (max-width: 1200px) {
  .hide1200px {
    display: none;
  }
  .phide {
    display: block;
  }
  .phideimg {
    display: block;
  }
}
@media screen and (max-width: 1100px) {
  .under {
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 0 0 0 0;
    row-gap: 70px;
  }
  .under_img_img1 {
    display: none;
  }
  .under_img_img2 {
    display: block;
  }
  .under_text {
    width: 600px;
    row-gap: 50px;
  }
  .under_text_pall_p1 {
    width: 600px;
    text-align: center;
  }
  .under_text_pall_p2 {
    width: 600px;
    text-align: center;
  }
  .under_text_btn {
    margin: 0 auto 0 auto;
  }
  .line {
    width: 600px;
  }
  .items {
    width: 600px;
    height: auto;
  }
  .items_block {
    width: 255px;
  }
}
@media screen and (max-width: 1000px) {
  .header_nav {
    width: 50%;
  }
  .header_nav_a {
    font-size: 24px;
  }
  .headeradd_search_panel {
    width: 232px;
  }
}
@media screen and (max-width: 768px) {
  .header_nav {
    order: 1;
    width: auto;
    justify-content: center;
  }
  .header_nav_a {
    display: none;
  }
  .header_nav_menu {
    display: block;
    width: 55px;
    height: 55px;
    background-size: cover;
  }
  .header_nav_menu:focus + .header_nav_table {
    transform: translateX(320px);
    transition-duration: 1s;
    transition-timing-function: ease;
  }
  .header_nav_table {
    transition-duration: 0.5s;
  }
  .header_nav_table_block {
    transition-duration: 0.2s;
  }
  .header_nav_table_block:hover {
    background-color: #8C7F77;
    transition-duration: 0.5s;
  }
  .header_logo {
    order: 2;
  }
  .header_user {
    order: 3;
  }
  .header_user_img {
    display: none;
  }
  .headeradd {
    justify-content: center;
  }
  .headeradd_search_block {
    margin-right: 10px;
  }
  .headeradd_search_panel {
    width: 175px;
  }
  .phide {
    display: none;
  }
  .phideimg {
    display: none;
  }
  .under_text {
    width: 450px;
  }
  .under_text_pall_p1 {
    width: 450px;
  }
  .under_text_pall_p2 {
    width: 450px;
  }
  .under_img_img2 {
    width: 450px;
  }
  .line {
    width: 450px;
  }
  .items {
    width: 450px;
    row-gap: 30px;
  }
  .items_block {
    margin: 0 auto 0 auto;
    width: 300px;
  }
  .lupa {
    transform: translateX(-60px);
  }
}
@media screen and (max-width: 500px) {
  .under_text {
    width: 280px;
  }
  .under_text_pall_p1 {
    width: 280px;
    font-size: 20px;
  }
  .under_text_pall_p2 {
    width: 280px;
    font-size: 16px;
  }
  .under_text_btn {
    width: 280px;
  }
  .under_text_btn_p1 {
    font-size: 24px;
    font-weight: 500;
  }
  .under_text_btn_img {
    width: 20px;
    height: 18px;
  }
  .under_img_img2 {
    display: none;
  }
  .under_img_img3 {
    display: block;
  }
  .line {
    width: 280px;
  }
  .items {
    width: 280px;
  }
  .items_block {
    width: 255px;
  }
  .lupa {
    position: absolute;
    top: 5px;
    right: 0;
    transform: translateX(-10px);
  }
}/*# sourceMappingURL=media.css.map */