.profile {
  width: 1074px;
  height: 506px;
  flex-shrink: 0;
  border-radius: 19px;
  border: 2px solid #D9C6BA;
  margin: 140px auto 0 auto;
  display: flex;
  justify-content: space-between;
}
.profile_left {
  margin-top: 19px;
  width: 700px;
  height: 95%;
}
.profile_left_top {
  width: 293px;
  height: 364px;
  flex-shrink: 0;
  border-radius: 20px;
  background: #D9C6BA;
  margin: 0 0 0 31px;
}
.profile_left_top_img {
  width: 269px;
  height: 269px;
  display: block;
  margin-left: 12px;
}
.profile_left_top_group {
  display: flex;
  justify-content: space-between;
  width: 114px;
  height: 52px;
  margin-left: 12px;
  margin-top: 20px;
}
.profile_left_top_group_icon1 {
  width: 52px;
  height: 52px;
  flex-shrink: 0;
  border-radius: 13px;
  background: #FFF;
  display: flex;
  justify-content: center;
  align-items: center;
}
.profile_left_top_group_icon1 img {
  width: 40px;
  height: 40px;
}
.profile_left_top_group_icon2 {
  width: 52px;
  height: 52px;
  flex-shrink: 0;
  border-radius: 13px;
  background: #FFF;
  display: flex;
  justify-content: center;
  align-items: center;
}
.profile_left_top_group_icon2 img {
  width: 40px;
  height: 40px;
}
.profile_left_bottom {
  width: 293px;
  height: 74px;
  flex-shrink: 0;
  border-radius: 20px;
  background: #D9C6BA;
  margin: 26px 0 0 31px;
  display: flex;
  justify-items: center;
  align-items: center;
}
.profile_left_bottom_p1 {
  color: #000;
  font-family: Inter;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  margin-left: 15px;
}
.profile_right_top {
  width: 671px;
  height: 293px;
  flex-shrink: 0;
  border-radius: 20px;
  flex-shrink: 0;
  border-radius: 20px;
  background: #D9C6BA;
  margin: 19px 31px 0 0px;
}
.profile_right_top_ul {
  height: 100%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  margin: 0 auto 0 auto;
  width: 96%;
}
.profile_right_top_ul_a {
  color: #000000;
  font-family: Inter;
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
  transition-duration: 0.2s;
  transition: all 0.5s ease-in;
}
.profile_right_top_ul_a:hover {
  text-decoration: underline;
  transition-duration: 0.5s;
}
.profile_right_top_ul_div {
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin-top: -25px;
}
.profile_right_top_ul_div_btn {
  width: 200px;
  height: 52px;
  flex-shrink: 0;
  border-radius: 13px;
  background: #FFF;
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 4px;
       column-gap: 4px;
  border: none;
}
.profile_right_top_ul_div_btn_p1 {
  color: #000;
  font-family: Inter;
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.profile_right_top_ul_div_btn_img {
  height: 40px;
  width: 40px;
}
.profile_right_bottom {
  width: 671px;
  height: 145px;
  flex-shrink: 0;
  border-radius: 20px;
  background: #D8C8BE;
  margin-top: 19px;
}
.profile_right_bottom_p1 {
  color: #000;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  display: block;
  margin-left: 15px;
  padding-top: 10px;
}

.blockborder {
  background: rgba(217, 198, 186, 0.35);
}/*# sourceMappingURL=profile.css.map */