.profile {
    width: 1074px;
    height: 506px;
    flex-shrink: 0;
    border-radius: 19px;
    background: rgba(217, 198, 186, 0.5);
    margin:  140px auto 0 auto;
    &_left {
        margin-top: 19px;
        padding-top: 19px;
        width: 700px;
        height: 95%;
        &_top {
            width: 293px;
            height: 364px;
            flex-shrink: 0;
            border-radius: 20px;
            background: #D9C6BA;
            margin: 0 0 0 31px;
            &_img {
                width: 269px;
                height: 269px;
                display: block;
                margin-left: 12px;
            }
            &_group {
                display: flex;
                justify-content: space-between;
                width: 114px;
                height: 52px;
                margin-left: 12px;
                margin-top: 20px;
                &_icon1 {
                    width: 52px;
                    height: 52px;
                    flex-shrink: 0;
                    border-radius: 13px;
                    background: #FFF;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    img {
                        width: 40px;
                        height: 40px;
                    }
                }
                &_icon2 {
                    width: 52px;
                    height: 52px;
                    flex-shrink: 0;
                    border-radius: 13px;
                    background: #FFF;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    img {
                        width: 40px;
                        height: 40px;
                    }
                }
            }
        }
        &_bottom {
            width: 293px;
            height: 74px;
            flex-shrink: 0;
            border-radius: 20px;
            background: #D9C6BA;
            margin: 26px 0 0 31px;        
            display: flex;
            justify-items: center;
            align-items: center;
            &_p1 {
                color: #000;
                font-family: Inter;
                font-size: 36px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                text-decoration-line: underline;
                text-align: center;
                margin-left: 15px;
            }
        }
    }
}