.header {
  position: fixed;
  top: 0;
  z-index: 10000000;
  height: 84px;
  width: 100%;
  background: #8C7F77;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.header_nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 45%;
}
.header_nav_a {
  color: #FFF;
  font-family: Inter;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-decoration: none;
  position: relative;
  overflow: hidden;
}
.header_nav_a::after {
  content: "";
  position: absolute;
  top: 27px;
  left: -100%;
  width: 100%;
  height: 2px;
  background: rgb(255, 255, 255);
  transition-duration: 0.3s;
}
.header_nav_a:hover::after {
  transform: translateX(100%);
  transition-duration: 0.3s;
  transition-timing-function: ease;
}
.header_nav_menu {
  width: 75px;
  height: 75px;
  display: none;
  border: none;
  background: none;
  background-image: url(./img/menu.png);
}
.header_nav_table {
  position: absolute;
  top: 84px;
  left: -320px;
  width: 320px;
  height: 390px;
  background: #D9C6BA;
  display: flex;
  flex-direction: column;
}
.header_nav_table_block {
  height: 94px;
  width: 320px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.header_nav_table_block_p {
  color: #FFF;
  font-family: Inter;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.header_nav_table_block_line {
  position: absolute;
  bottom: 0;
  left: 15px;
  width: 290px;
  height: 1px;
  background-color: rgba(140, 127, 119, 0.6705882353);
}
.header_user {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header_user_p1 {
  text-decoration: none;
  color: #FFF;
  font-family: Inter;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  position: relative;
  overflow: hidden;
  height: 50px;
  margin-top: 15px;
}
.header_user_p1::after {
  content: "";
  position: absolute;
  top: 30px;
  left: -100%;
  width: 100%;
  height: 2px;
  background: rgb(255, 255, 255);
  transition-duration: 0.3s;
}
.header_user_p1:hover::after {
  transform: translateX(100%);
  transition-duration: 0.3s;
  transition-timing-function: ease;
}
.header_logo {
  margin-top: 10px;
}

.headeradd {
  height: 58px;
  width: 100%;
  background: #D9C6BA;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 84px;
}
.headeradd_search {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.headeradd_search_block {
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 11px;
       column-gap: 11px;
  margin-right: 40px;
}
.headeradd_search_block_p {
  color: #FFF;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.headeradd_search_block_img {
  width: 22px;
  height: 18px;
  margin-top: 3px;
}
.headeradd_search_panel {
  width: 465px;
  height: 39px;
  border-radius: 7px;
  background: rgba(255, 255, 255, 0.8);
  border: none;
  outline: none;
  font-size: 26px;
  color: #0D0D0D;
}
.headeradd_filter {
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 60px;
       column-gap: 60px;
}

.phide {
  display: none;
}

.phideimg {
  display: none;
}

.under {
  width: 1074px;
  height: 425px;
  display: flex;
  justify-content: space-between;
  margin: 70px auto 0 auto;
}
.under_img_img2 {
  display: none;
}
.under_img_img3 {
  display: none;
}
.under_text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.under_text_pall_p1 {
  color: #0D0D0D;
  font-family: Inter;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  width: 711px;
}
.under_text_pall_p2 {
  margin-top: 12px;
  color: #73513D;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  width: 711px;
}
.under_text_btn {
  width: 321px;
  height: 74px;
  flex-shrink: 0;
  border-radius: 7px;
  background: #8C7F77;
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
  border: none;
  position: relative;
  z-index: 4;
  overflow: hidden;
}
.under_text_btn_p1 {
  z-index: 6;
}
.under_text_btn_img {
  z-index: 6;
}
.under_text_btn:hover::after {
  transform: translateX(70px);
  width: 500px;
  height: 500px;
  transition-duration: 0.7s;
  transition-timing-function: ease;
}
.under_text_btn::after {
  content: "";
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: #D9C6BA;
  top: -100px;
  left: -120px;
  z-index: 5;
  transition-duration: 0.4s;
}
.under_text_btn_img {
  width: 31.726px;
  height: 25.958px;
}
.under_text_btn_p1 {
  color: #FFF;
  font-family: Inter;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.line {
  height: 2px;
  width: 1074px;
  background: #D9D9D9;
  margin: 70px auto 70px auto;
}

.items {
  width: 1074px;
  height: 582px;
  margin: 0 auto 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 15px;
}
.items_block {
  width: 229px;
  height: 278px;
  flex-shrink: 0;
  border-radius: 7px;
  border: 2px solid #D9C6BA;
  background: #FFF;
  position: relative;
  overflow: hidden;
}
.items_block_img {
  display: block;
  margin: 0 auto;
}
.items_block_text {
  width: 150px;
  height: 80px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.items_block_text_p1 {
  color: #0D0D0D;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.items_block_text_p2 {
  color: #8C7F77;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.items_block_text_div {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.items_block_text_div_p1 {
  color: #8C7F77;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.items_block_text_div_p2 {
  color: #0D0D0D;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.items_block_plus {
  position: absolute;
  width: 60px;
  height: 60px;
  background-color: rgba(115, 81, 61, 0.7803921569);
  top: 5px;
  left: 5px;
  border-radius: 50%;
  transform: translateX(-80px);
  transition-duration: 0.4s;
  display: flex;
  justify-content: center;
  align-items: center;
}
.items_block_plus:hover {
  background: #D9C6BA;
}
.items_block:hover > .items_block_plus {
  transform: translateX(0);
  transition-duration: 0.3s;
  transition-timing-function: ease-in;
}

.orange {
  color: #FF7A00;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.plus {
  width: 30px;
  height: 30px;
}

.lupa {
  width: 30px;
  height: 30px;
  transform: translateX(-40px);
}

.button {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 70px;
}

.card {
  width: 1074px;
  display: flex;
  height: 500px;
  justify-content: space-between;
  margin: 0 auto;
}
.card_text {
  color: #73513D;
  text-align: center;
  font-family: Inter;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 155.523%; /* 43.546px */
  width: 490px;
}

.order1 {
  order: 1;
}

.order2 {
  order: 2;
}

.footer {
  width: 100%;
  height: 240px;
  background: #8C7F77;
  margin-top: 70px;
}
.footer_number {
  width: 90%;
  height: 110px;
  margin: 0 auto 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer_number_p1 {
  color: #FFF;
  font-family: Inter;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.footer_logos {
  width: 65%;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 50px auto 0 auto;
}
.footer_logos_p1 {
  color: #FFF;
  font-family: Inter;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.footer_logos_imgs {
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 38px;
       column-gap: 38px;
}
.footer_logos_imgs_img {
  width: 75px;
  height: 75px;
}

.textdecoration {
  text-decoration: none;
}/*# sourceMappingURL=style.css.map */